
body{
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around
}

article {
  border: 2px solid lightgrey;
  border-radius: 10px;
  width: 25%;
  padding: 2%;
  margin: 20px 0;
  overflow: auto;
}

img {
  border-radius: 90px;
  float: left;
  }

  h2 {
    margin: 0;
    display: inline-block;
    padding: 5% 0 2% 2%;
    font-weight: 100
  }

  article:hover {
    border: 2px solid black
  }

  article.modal:hover{
    border: 2px solid lightgrey;
  }

  span:hover {
    cursor: pointer
  }

  input {
    display: inline-block;
    margin: 0 0 0 38%;
    width: 20%;
    height: 3%
  }

h3{
  margin-left: 45%;
}

p{
  margin-left: 45%;
}

.modalBackGround {
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span {
  float: right
}

.modal img{
  float: none;
  margin: auto;
  display: block;
}

.modal p {
  margin: 5% auto;
  opacity: 0.5
}

.modal p:nth-child(4){
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5%
}

.modal{
  display: block;
  text-align: center;
  background-color: white;
  width: 30%;
  height: 60%;
  top: 12%;
  position: fixed
}
